<div class="span6">
    <h1>Hi, my name is Tyson Cadenhead.</h1>

    <p>I'm a JavaScript engineer who resides in Franklin, Tennessee. My specialty is writing large, scalable JavaScript applications on the client and server side. I am passionate about good design, usability, and clean, reusable code.</p>

    <p>I'm very active in the open-source community, often sharing my code and my ideas with other developers. I believe it is my duty to give back to the development community in any way that I can.</p>

    <p>In my free time, I enjoy playing guitar, drawing, making animations and reading about Reformed Theology, Austrian Economics and Philosophy. I also love spending time with my beautiful wife and my two sons.</p>

    <p>The opinions expressed on this site are my own and do not necessarily represent those of my employer.</p>

    <div class="resume">

        <h2>Education</h2>
        <p>Bachelor of Arts in Digital Media Studies
        <a href="http://uu.edu/" title="Union University">Union University</a>, May 2007</p>

        <h2>Professional Experience</h2>

        <div class="portfolio-group">
            <p><strong>JavaScript Engineer</strong></p>

            <a href="http://appendto.com" title="appendTo"><img src="/images/about/appendto.png" alt="" title="appendTo" /></a><br />
            <em>2012 - Present</em>
            <p>AppendTo is a company that is dedicated to jQuery through training, supporting and expanding the jQuery library. At appendTo, I use the latest technologies to write a variety of JavaScript tools for the client-side as well as the server-side.</p>
        </div>

        <div class="portfolio-group">
            <p><strong>Senior JavaScript Engineer</strong></p>

            <a href="http://moontoast.com" title="Moontoast"><img title="Moontoast" src="/images/about/moontoast.png" alt="" width="150" height="85" /></a><br />
            <em>2011 - 2012</em>
            <p>Moontoast helps you engage your Social Networking fans, learn what works with them and generate revenue from them. As Senior JavaScript Engineer, it was my job to lead the JavaScript development and foster best practices and innovation using jQuery and a variety of client-side tools.</p>

        </div>
        <div class="portfolio-group">

            <p><strong>Mobile User Interface Developer</strong></p>

            <a href="http://goodclic.com" title="GoodClic"><img title="GoodClic" src="/images/about/goodclic.png" alt="GoodClic" /></a><br />
            <em>2010 - 2011 </em><br />
            <p>GoodClic is a web application that builds mobile apps for nonprofit organizations, churches and political candidates.  It allows users to customize the data and design of the app within minutes.  I built the mobile application using Sencha Touch and Phonegap.  The JavaScript interacts with server-side JSON stores to deliver dynamic content from various social media outlets.</p>

        </div>

        <div class="portfolio-group">

            <p><strong>User Interface / User Experience Developer</strong></p>

            <a href="http://dealerskins.com" title="Dealerskins"><img class="alignnone size-full wp-image-422" title="Dealerskins" src="/images/about/dealerskins.png" alt="Dealerskins" /></a><br />
            <em>2010 - 2011</em>
            <p>Dealerskins is complete web solution for automotive dealers.  The company provides a conclusive inventory and content management system for dealership websites along with a dealership-specific analytics package.  I came to Dealerskins during a transitional period—the company was in the process of converting their websites from a dated flash interface to a more SEO-friendly HTML interface.  As the UI/UX developer, I wrote the majority of the JavaScript to facilitate the changes using jQuery on the front-end and EXTJS on the back-end.  I also fine-tuned existing interfaces and conducted usability tests to improve the lead-to-visitor ratio on our websites.</p>

        </div>

        <div class="portfolio-group">

            <p><strong>User Interface Developer</strong></p>

            <a href="http://fiduciarycompliance.com" title="Fiduciary Consulting Group"><img title="Fiduciary" src="/images/about/fiduciary.png" alt="Fiduciary Consulting Group" /></a><br />
            <em>2009 - 2010</em>
            <p>Fiduciary Consulting Group is based in Murfreesboro, Tennessee.  FCG is an organization that helps fiduciaries monitor due diligence and best practices.  As the user interface developer, my job was to lead the client-side development for the Fiduciary Edge application.  Fiduciary Edge is an online application that automates the process of fiduciary consulting.  I developed the application using <a href="http://www.sencha.com/products/js/" title="ExtJS">ExtJS</a> and <a href="http://www.javascriptmvc.com/" title="JavaScriptMVC">JavaScriptMVC</a>, which interacted with our server-side Coldfusion API.</p>

        </div>
        <div class="portfolio-group">

            <p><strong>Web Developer</strong></p>

            <a href="http://gobigfishgo.com" title="Bigfish"><img src="/images/about/bigfish.png" alt="Bigfish" /></a><br />
            <em>2007 - 2009</em>
            <p>Bigfish is an internet marketing and consulting firm based in Memphis, Tennessee.  I worked with a staff of four developers and three designers to create websites and internet applications for clients including <a href="http://www.kappadelta.org/" title="Kappa Delta">Kappa Delta</a>, <a href="http://www.wish.org/" title="Make-a-Wish Foundation">Make-a-Wish Foundation</a> and <a title="Chi Omega" href="http://chiomega.com/">Chi Omega</a>.  Bigfish is a .NET company that uses the .NET MVC architecture with a custom content management system.</p>

        </div>
    </div>
</div>

<div class="well span2 right overflow-auto">
    <img src="http://profile.ak.fbcdn.net/hprofile-ak-frc3/c0.0.828.828/s480x480/972098_667223423562_1734574442_n.jpg" class="hide-from-mobile" class="lazy" />
    <h4>Open-Source</h4>
    <ul>
        <li>
            <a href="https://github.com/jcreamer898/ko.ninja">ko.ninja</a>
        </li>
        <li>
            <a href="https://github.com/tysoncadenhead/grunt-bing-translate">Grunt Bing Translate</a>
        </li>
        <li>
            <a href="https://github.com/tysoncadenhead/jquery.jsonTemplate">jQuery-jsonTemplate</a>
        </li>
        <li>
            <a href="https://github.com/tysoncadenhead/underscore-fire">Underscore Fire</a>
        </li>
        <li>
            <a href="https://github.com/tysoncadenhead/jquery-toastchart">jQuery-toastChart</a>
        </li>
        <li>
            <a href="https://github.com/tysoncadenhead/anvil.ejs">Anvil.EJS</a>
        </li>
        <li>
            <a href="https://github.com/tysoncadenhead/anvil.mustache">Anvil.mustache</a>
        </li>
        <li>
            <a href="https://github.com/tysoncadenhead/jquery-ajaxproxy">jQuery-ajaxProxy</a>
        </li>
        <li>
            <a href="https://github.com/tysoncadenhead/jQuery.overlayGallery">jQuery-overlayGallery</a>
        </li>
        <li>
            <a href="https://github.com/tysoncadenhead/Application.js">Application.js</a>
        </li>
        <li>
            <a href="https://github.com/tysoncadenhead/Ext.ux.grid-drag-drop">Ext.ux.grid-drag-drop</a>
        </li>
    </ul>

    <h4 class="hide-from-mobile">Technical Skills</h4>
    <ul class="skills hide-from-mobile">
        <li><a href="http://en.wikipedia.org/wiki/JavaScript" title="JavaScript">JavaScript</a></li>
        <li><a href="http://jquery.com/" title="jQuery">jQuery</a></li>
        <li><a href="http://www.extjs.com/" title="ExtJS">ExtJS</a></li>
        <li><a href="http://javascriptmvc.com/" title="JavaScript MVC">JavaScript MVC</a></li>
        <li><a href="http://www.sencha.com/products/touch/" title="Sencha Touch">Sencha Touch</a></li>
            <li><a href="http://jquerymobile.com/" title="jQuery Mobile">jQuery Mobile</a></li>
            <li><a href="http://jqueryui.com/" title="jQueryUI">jQueryUI</a></li>
            <li><a href="http://backbonejs.org/" title="Backbone">Backbone</a></li>
            <li><a href="http://knockoutjs.com/" title="Knockout">Knockout</a></li>
            <li><a href="http://requirejs.org/" title="AMD Loaders">AMD Loaders</a></li>
            <li><a href="http://nodejs.org/" title="NodeJS">NodeJS</a></li>
            <li><a href="http://expressjs.com/" title="ExpressJS">ExpressJS</a></li>
            <li><a href="http://railwayjs.com/" title="RailwayJS">RailwayJS</a></li>
            <li><a href="http://meteor.com/" title="Meteor">Meteor</a></li>
        <li><a href="http://www.phonegap.com/" title="Phonegap">Phonegap</a></li>
        <li><a href="http://www.asp.net/" title="C#">C#</a></li>
        <li><a href="http://www.asp.net/%28S%28d35rmemuuono1wvm1gsp2n45%29%29/mvc/" title=".NET MVC">.NET MVC</a></li>
        <li><a href="http://php.net/index.php" title="PHP">PHP</a></li>
            <li><a href="http://www.symfony-project.org/" title="Symfony">Symfony</a></li>
            <li><a href="http://framework.zend.com/" title="The Zend Framework">The Zend Framework</a></li>
        <li><a href="http://cakephp.org/" title="CakePHP">CakePHP</a></li>
        <li><a href="http://www.adobe.com/products/coldfusion/" title="Coldfusion">Coldfusion</a></li>
        <li><a href="http://en.wikipedia.org/wiki/SQL" title="SQL">SQL</a> / <a title="mySQL" href="http://www.mysql.com/">mySQL</a></li>
            <li><a href="http://couchdb.apache.org/" title="CouchDB">CouchDB</a></li>
            <li><a href="http://www.mongodb.org/" title="MongoDB">MongoDB</a></li>
            <li><a href="http://redis.io/" title="Redis">Redis</a></li>
            <li><a href="http://wordpress.org/" title="Wordpress">Wordpress</a></li>
            <li><a href="http://git-scm.com/" title="Git Version Control">Git</a></li>
            <li><a href="http://subversion.tigris.org/" title="SVN Version Control">SVN</a></li>
            <li><a href="http://sass-lang.com/" title="SASS">SASS</a> / <a href="http://compass-style.org/" title="Compass">Compass</a></li>
        <li><a href="http://www.adobe.com/products/photoshop/compare/" title="Adobe Photoshop">Adobe Photoshop</a></li>
        <li><a href="http://www.adobe.com/products/illustrator/" title="Adobe Illustrator">Adobe Illustrator</a></li>
        <li><a href="http://www.adobe.com/products/indesign/" title="Adobe InDesign">Adobe InDesign</a></li>
    </ul>
</div>