@import "vendor/bootstrap";
@import "vendor/bootstrap-responsive";
@import "vendor/highlight";

#fbcomments, .fb-comments, .fb-comments iframe[style], .fb-comments span {
    width: 100% !important;
}

body {
    font-size: 16px;
    line-height: 30px;
    max-width: 100%;
    background: #EEE;
    font-family: 'Roboto', sans-serif;
}

.container {
    background: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    border-left: solid 1px #DDD;
    border-right: solid 1px #DDD;
}

.navbar-inverse .navbar-inner {
    position: absolute;
    right: -21px;
    top: 0px;
    background: #EEE;
    border-radius: 0px;
    border: 0px;
    font-size: 0.9em;
    box-shadow: none !important;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #DDD;
    border-left: solid 1px #DDD;
    border-radius: 0px 0px 0px 7px;
    width: 990px;

    .nav {
        margin: 0px;
    }
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
    text-shadow: none;
    color: #AAA;

    &:hover {
        color: #999;
    }
}

.page-number a {
    color: #3E8784;
    border: 0px !important;
}

.page-number.active a {
    color: #FFF;
    background: #3E8784;
}

.span12 {
    padding-left: 0px;
    margin-left: 0px;
}

.header {
    height: 80px;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 65px;
    position: relative;

    #logo {
        color: #CCC;
        left: -30px;
        position: relative;
        font-weight: normal;
        font-size: 32px;
        top: -5px;

        a {
            color: #EEE;
        }

        a:hover {
            color: #FFF;
        }
    }

    .tagline {
        color: #CCC;
        font-size: 12px;
        position: relative;
        left: -5px;
        top: -25px;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.thumbnail-main {
    float: left;
    margin-left: 0px;
    margin-right: 35px;
    box-shadow: 3px 3px 10px #EEE;
}

.thumbnail img {
    width: 170px;
    background: #FFF;
}

h1 {
    color: rgb(62, 135, 133);
}

h1, h2, h3, h4 {
    color: #115D5A;
}

.footer {
    border-top: solid 1px #222;
    background: #333;
    width: 100%;
    margin-top: 50px;
    position: relative;
    padding: 10px 0px;

    .container {
        background: transparent;
        border-left: solid 1px #333;
        border-right: solid 1px #333;
    }

    .addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs {
        float: right !important;
    }

    .addthis_follow_label {
        display: none;
    }

    .left {
        margin-left: 0px;
    }

}

.twitter-timeline {
    width: 100% !important;
    margin-top: 10px;
}

.profile-image-small {
    display: none;
}
.profile-image-large {
    display: block;
}

.share {
    display: block;
    padding-bottom: 25px;
    margin-top: 25px;
    clear: both;
    width: 100%;
    float: left;
}

.google-things {
    float: left;
    margin-bottom: 40px;
    margin-top: 10px;
    width: 100%;
    max-width: 1170px;
}

a {
    color: #115d5a;
}

a:hover {
    color: #024643;
    text-decoration: none;
}

p {
    margin: 25px 0px 25px 0px;
}

p > code {
    background: #EEE;
}

.label-info {
    background: rgb(17, 93, 90);
}

.label a {
    color: #FFF;
}

.clear {
    clear: both;
    width: 100%;
    float: left;

    .thumbnail {
        width: 200px;
        height: 260px;
        margin-right: 20px;
    }
}

.overflow-auto {
    overflow: auto;
}

.presentation-item {
    position: relative;
    width: 47%;
    background: #000;
    padding-bottom: 0px !important;
    margin-bottom: 30px;
    float: left;
    margin-right: 2%;
    max-width: 100%;
    min-height: 0px;
}

#blog-posts {
    article {
        min-height: 200px;

        .teaser {
            margin-left: 215px !important;
            font-size: 1em;
        }
    }
}

#blog-posts article {
    padding-bottom: 75px;
}

article p img, .presentation-item img {
    box-shadow: 0px 0px 9px #CCC;
}

.presentation-item img {
    width: 100%;
}

.presentation-item:hover img {
    opacity: 0.4;
}

.presentation-item a {
    color: #FFF !important;
}

.presentation-item .description {
    display: none;
    position: absolute;
    padding: 20px;
    top: 0px;
    left: 0px;
}

.presentation-item:hover .description {
    display: block;
}

.presentation-item h2 {
    font-size: 22px;
}

.presentation-item h4 {
    font-size: 16px;
}

.page-group {
    display: none;
}

#page-group-0 {
    display: block;
}

.series-placement {
    background: lightyellow;
    padding: 15px;
    font-size: 0.8em;
    line-height: 1.5em;
    display: table;
}

#blog-posts .series-placement {
    display: none;
}

#google_ads_frame1 {
    background: #CCC !important;
}

.logo img {
    max-width: 80%;
}

.width-100 {
    width: 100%;
}

.deviant-art {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/32/Web-DeviantART-alt-1-Metro-icon.png);
    float: right;
    margin-right: 1px;
}

/*p:first-child {
    font-size: 1.5em;
    line-height: 1.8em;
    color: #115D5A;
    }*/

.bio {
    background: #EEE;
    float: left;
    padding-top: 25px;
    width: 100%;
    border: solid 1px #CCC;
    margin-bottom: 25px;
    color: #2E4400;

    a {
        color: #2E4400;
        text-decoration: underline;
    }
}

.span3 {
    background: #3e8785;
    border: solid 1px #3e8785;
    color: #FFF;

    a {
        color: #FFF;
        text-decoration: underline;
    }
}

.related-posts {
    .span2 {
        margin-left: 18px;
        min-height: 280px;
        background: #3E8784;
        border: solid 1px #23716E;

        a {
            display: block;
            padding: 7px;
            color: #FFF;
        }
    }
    .span2:first-child {
        margin-left: 0px;
    }

}

.well.span3 {
    h2, h3 {
        color: #FFF;
    }
}

.popular-post {
    width: 46%;
    float: left;
    background: #FFF;
    text-align: center;
    min-height: 225px;

    a {
        text-decoration: none;
        color: #115d5a;
    }

    h4 {
        font-size: 0.8em;
        margin: 14px;
        clear: both;
    }

    img {
        opacity: 0.7;
    }
}

.popular-post:hover {
    a {
        color: #002C2A;
    }

    img {
        opacity: 1;
    }
}

.popular-post:nth-child(odd) {
    margin-right: 8%;
}

#mc_embed_signup {
    margin-bottom: 65px;
    clear: both;
}

#mc_embed_signup input.email {
    width: 100% !important;
}

#mc_embed_signup {
    background: transparent !important;
}

#mc_embed_signup_scroll label {
    display: none !important;
}

#mc_embed_signup form {
    padding: 0px !important;
}

#mc_embed_signup input.button {
    background: #ACD05F;
    color: #4A6B03;
}

#mc_embed_signup input.button:hover {
    background: #87AE35;
    color: #4A6B03;
}

.pagination ul>li>a, .pagination ul>li>span {
    border: 0px;    
}

.pagination ul>.active>a, .pagination ul>.active>span {
    background: #3E8784;
    color: #FFF;    
}

.pagination {
    margin-left: 200px;
}

.presentation-item h2 {
    color: #FFF;
}

@media(max-width: 1200px) {

    .header {
        height: 120px;

        #logo {
            left: 0px;
        }

        .span6 {
            position: relative;
            width: 100%;
            float: none;
            clear: both;
            margin: 10px;
        }

        .navbar-inverse .navbar-inner {
            left: -31px;
            right: auto;
            width: 100%;
            border-radius: 0px;
            border-left: solid 1px #EEE;
            border-right: solid 1px #EEE;
            border-top: solid 1px #CCC;
        }
    }

    #blog-posts article .teaser {
        clear: both;
        margin-left: 0px !important;
    }

    .span2.thumbnail {
        width: 170px;
    }

    .span3.right {
        clear: both;
        width: 100%;
        padding: 0px;

        h3, h5, &> div, small, h4 {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .container > .span12 > .span8 {
        width: 95%;
    }

    .pagination {
        margin-left: 0px;   
    }

    .related-posts {
        .thumbnail {
            width: 20%;
            float: left;
        }
    }
}

@media(max-width: 760px) {

    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    h1, h2 {
        clear: both;
    }

    .navbar-inner.right {
        background-color: #EEE;
    }

    .nav.right {

        li {
            width: 100%;
            font-size: 1.3em;
            padding: 3px 0px;
            margin: 0px;
            padding-left: 12px;
        }
    }

    #nav-toggle {
        float: right;
        position: relative;
        right: 30px;
        top: 15px;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: #115D5A;
      position: absolute;
      display: block;
      content: '';
    }
    #nav-toggle span:before {
      top: -10px;
    }
    #nav-toggle span:after {
      bottom: -10px; 
    }

    .navbar {
        height: 1px;
        overflow: hidden;
        width: 100%;
        left: -10px;
        position: relative;
        margin-left: -20px;
        padding-right: 40px;
    }

    .header {
        margin-bottom: 0px;
    }

    .related-posts .thumbnail {
        width: 100%;
        margin-left: 0px;

        img {
            width: 100%;
        }
    }

    article p img, .presentation-item img {
        width: 100%;
    }

    .bio {
        img {
            width: 100%;
        }

        .span5 {
            padding: 12px;
        }
    }

    .span3.right {
        margin-top: 25px;
    }

}

@import "tables";