@import "vendor/bootstrap";
@import "vendor/bootstrap-responsive";
@import "vendor/highlight";

#fbcomments, .fb-comments, .fb-comments iframe[style], .fb-comments span {
    width: 100% !important;
}

body {
    font-size: 16px;
    line-height: 30px;
    max-width: 100%;
}

.span12 {
    padding-left: 0px;
    margin-left: 0px;
}

.header {
    height: 80px;
    width: 100%;
    padding: 10px 0px;
    background: #333;
    margin-bottom: 65px;
    border-bottom: solid 1px #000;
    overflow-y: hidden;
    overflow-x: visible;

    #logo {
        color: #CCC;
        left: -35px;
        position: relative;
        font-weight: normal;
        font-size: 32px;
        top: -5px;

        a {
            color: #EEE;
        }

        a:hover {
            color: #FFF;
        }
    }

    .tagline {
        color: #CCC;
        font-size: 12px;
        position: relative;
        left: -5px;
        top: -25px;
    }

    @media (max-width: 767px) {
        .logo {
            left: 10px;
        }
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.thumbnail img {
    width: 170px;
    background: transparent;
}

.footer {
    border-top: solid 1px #CCCCCC;
    background: #EEEEEE;
    width: 100%;
    margin-top: 50px;
    position: relative;
    padding: 10px 0px;

    .addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs {
        float: right !important;
    }

    .addthis_follow_label {
        display: none;
    }

    .left {
        margin-left: 0px;
    }

}

.twitter-timeline {
    width: 100% !important;
    margin-top: 10px;
}

.profile-image-small {
    display: none;
}
.profile-image-large {
    display: block;
}

@media (max-width: 767px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .thumbnail img {
        width: 100% !important;
    }
    .profile-image-small {
        display: block;
    }
    .profile-image-large {
        display: none;
    }
    .footer {
        .left {
            padding-left: 10px;
        }
        .right {
            padding-right: 10px;
        }
        #twitter-feed {
            display: none;
        }
    }
    .header {
        #logo {
            text-align: center;
            left: auto;
        }
        .navbar-inner {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            border-left: 0px;
            border-right: 0px;
        }
    }

    .hide-from-mobile {
        display: none;
    }
}

@media (max-width: 1200px) {
    .presentation-item .description h2 {
        font-size: .7em;
        line-height: .9em;
    }
}

.share {
    display: block;
    padding-bottom: 25px;
    margin-top: 25px;
    clear: both;
    width: 100%;
    float: left;
}

.google-things {
    float: left;
    margin-bottom: 40px;
    margin-top: 10px;
    width: 100%;
    max-width: 1170px;
}

a {
    color: #cc6633;
}

a:hover {
    color: #a35c1d;
    text-decoration: none;
}

p {
    margin: 25px 0px 25px 0px;
}

p > code {
    background: #EEE;
}

.label a {
    color: #FFF;
}

.clear {
    clear: both;
    width: 100%;
    float: left;

    .thumbnail {
        width: 200px;
        height: 260px;
        margin-right: 20px;
    }
}

.overflow-auto {
    overflow: auto;
}

.presentation-item {
    position: relative;
    width: 47%;
    background: #000;
    padding-bottom: 0px !important;
    margin-bottom: 30px;
    float: left;
    margin-right: 2%;
    max-width: 100%;
    min-height: 0px;
}

@media (max-width: 480px) {
    .presentation-item {
        width: 100%;
        margin-right: 0px;
    }

    .page-number {
        display: none !important;
    }

    .pagination ul {
        width: 100%;
        text-align: center;
    }

    .pagination li>a {
        font-size: 3em;
        line-height: 1em !important;
        float: none !important;
    }
}

article {
    min-height: 200px;
}

#blog-posts article {
    padding-bottom: 75px;
}

article p img, .presentation-item img {
    box-shadow: 0px 0px 9px #CCC;
}

.presentation-item img {
    width: 100%;
}

.presentation-item:hover img {
    opacity: 0.4;
}

.presentation-item a {
    color: #FFF !important;
}

.presentation-item .description {
    display: none;
    position: absolute;
    padding: 20px;
    top: 0px;
    left: 0px;
}

.presentation-item:hover .description {
    display: block;
}

.presentation-item h2 {
    font-size: 22px;
}

.presentation-item h4 {
    font-size: 16px;
}

.page-group {
    display: none;
}

#page-group-0 {
    display: block;
}

.series-placement {
    background: lightyellow;
    padding: 15px;
    font-size: 0.8em;
    line-height: 1.5em;
    display: table;
}

#blog-posts .series-placement {
    display: none;
}

#google_ads_frame1 {
    background: #CCC !important;
}

.logo img {
    max-width: 80%;
}

.width-100 {
    width: 100%;
}

.deviant-art {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/32/Web-DeviantART-alt-1-Metro-icon.png);
    float: right;
    margin-right: 1px;
}

.bio {
    background: #DDD;
    float: left;
    padding-top: 25px;
    width: 100%;
    border: solid 1px #BBB;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .header {
        height: auto;
        padding-bottom: 0px;
        margin-bottom: 25px;
    }
    .bio {
        padding-top: 0px;
        .span8 {
            padding: 14px;
        }
    }
    .navbar .nav {
        width: 100%;
    }
    .navbar .nav>li {
        clear: both;
        width: 100%;
        text-align: center;
        border-top: solid 1px #AAA;
        padding: 12px 0px;
        font-size: 1.3em;
    }
    .footer .container, .footer .container .span12 {
        text-align: center;
    }
    .deviant-art, .footer .addthis_default_style .addthis_separator, .footer .addthis_default_style .at300b, .footer .addthis_default_style .at300bo, .footer .addthis_default_style .at300m, .footer .addthis_default_style .at300bs {
        float: none !important;
        display: inline-block !important;
    }
}

@import "tables";