<!-- Tyson Cadenhead -->
<html>
    <head>
        <title>{{{title}}} | Tyson Cadenhead</title>
        <link rel="stylesheet" href="/styles/reset.css" type="text/css" />
        <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    </head>
    <body>
        <header>
            <a href="/"><img class="logo" src="/images/logo.png" /></a>
            <navigation>
                <ul>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </navigation>
        </header>
        <main>