<!-- Tyson Cadenhead -->
<html>
    <head>
        <title>{{{title}}} | Tyson Cadenhead</title>
        <link rel="stylesheet" href="/styles/reset.css" type="text/css" />
        <link rel="stylesheet" href="/styles/style.css" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header-image parallax"></div>
        <div class="header-container">
            <header class="header-navigation">
                <a href="/"><img class="logo" src="/images/logo.png" /></a>
                <navigation>
                    <ul>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                    </ul>
                </navigation>
            </header>
        </div>
        <main>