<div class="span8">
    <h1>JavaScript Vignettes<br /><br /></h1>
    <p>JavaScript Vignettes is a YouTube channel I created to show how to do things in JavaScript in short bite-size peices. I am trying to build up a lot of content there, so if head over to the <a href="https://www.youtube.com/channel/UCL8AMKLVecaaUs86eCt0zyw" title="JavaScript Vignettes on YouTube">YouTube Page</a> to see the latest videos.<p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/z1yRptI4tbo?list=UUL8AMKLVecaaUs86eCt0zyw" frameborder="0" allowfullscreen></iframe>
</div>