<div class="span8">

    <h1>Presentations<br /><br /></h1>

    <article class="presentation-item">
        <a target="_blank" href="http://presentboldly.com/tysoncadenhead/building-large-scalable-realtime-applications-with-meteor">
            <img src="/images/presentations/meteor.jpg" />
            <div class="description">
                <h2>Building Large Scalable Realtime Applications With Meteor</h2>
            </div>
        </a>
    </article>

    <article class="presentation-item">
        <a target="_blank" href="https://presentboldly.com/tysoncadenhead/javascript-is-the-future">
            <img src="/images/presentations/javascript-future.jpg" />
            <div class="description">
                <h2>JavaScript is the Future!</h2>
            </div>
        </a>
    </article>

    <article class="presentation-item">
        <a target="_blank" href="https://presentboldly.com/tysoncadenhead/an-introduction-to-socketio">
            <img src="/images/presentations/socketio.jpg" />
            <div class="description">
                <h2>An introduction to Socket.io</h2>
            </div>
        </a>
    </article>

    <article class="presentation-item">
        <a target="_blank" href="https://presentboldly.com/tysoncadenhead/qunit-test-prep">
            <img src="/images/presentations/qunit.jpg" />
            <div class="description">
                <h2>QUnit test prep</h2>
            </div>
        </a>
    </article>

    <article class="presentation-item">
        <a target="_blank" href="http://slid.es/tysoncadenhead/compoundjs">
            <img src="/images/presentations/compound.jpg" />
            <div class="description">
                <h2>Compound on Express</h2>
            </div>
        </a>
    </article>

</div>

<div class="well span3 right overflow-auto">
    <h4>Previous Talks</h4>
    <p>
        <h5><a target="_blank" href="http://www.nodevember.org/schedule">Building Large Scalable Realtime Applications With Meteor</a></h5>
        <small>Nodevember - November 16, 2014</small>
    </p>
    <p>
        <h5><a target="_blank" href="http://www.barcampnashville.org/bcn14/sessions/building-realtime-applications-meteorjs">Building Large Scalable Realtime Applications With Meteor</a></h5>
        <small>Barcamp Nashville - October 17, 2014</small>
    </p>
    <p>
        <h5><a target="_blank" href="http://www.devlink.net/abstract/summary/5319db1585f6df0b002cc0cf">Building Large Scalable Realtime Applications With Meteor</a></h5>
        <small>DevLink - August 27, 2014</small>
    </p>
    <p>
        <h5><a target="_blank" href="http://appendto.com/training/schedule/javascript-functions-and-objects-8-12-2014/">JavaScript Functions and Objects</a></h5>
        <small>appendTo Remote Training - August 08, 2014</small>
    </p>
    <p>
        <h5><a target="_blank" href="http://www.meetup.com/nashjs/events/152808072/">Getting Started With Socket.io</a></h5>
        <small>NashJS - January 08, 2014</small>
    </p>
    <p>
        <h5><a target="_blank" href="http://www.devlink.net/abstract/summary/5319db1585f6df0b002cc0cf">Getting Started With Socket.io</a></h5>
        <small>BarCamp Nashville - November 02, 2013</small>
    </p>
    <p>
        <h5><a target="_blank" href="http://www.meetup.com/interactivedev/events/109983412/">Compound on Express - An Explosive MVC Framework for NodeJS</a></h5>
        <small>Interactive Developers Nashville - May 21, 2013</small>
    </p>
</div>