<div class="span12">

    <article class="presentation-item">
        <a target="_blank" href="https://presentboldly.com/tysoncadenhead/javascript-is-the-future">
            <img src="/images/presentations/javascript-future.jpg" />
            <div class="description">
                <h2>JavaScript is the Future!</h2>
                <h4>We have seen the future and it is JavaScript. There are many languages out there, but JavaScript is quickly becoming the predominant language of the web, application development and the server-side.</h4>
            </div>
        </a>
    </article>

    <article class="presentation-item">
        <a target="_blank" href="https://presentboldly.com/tysoncadenhead/an-introduction-to-socketio">
            <img src="/images/presentations/socketio.jpg" />
            <div class="description">
                <h2>An introduction to Socket.io</h2>
                <h4>How to have realtime communication between the browser and the server. This presentation is also available as a <a href="//www.youtube.com/embed/nN6gFQMr3yU">video</a> on YouTube.</h4>
            </div>
        </a>
    </article>

</div>
<div class="span12">

    <article class="presentation-item">
        <a target="_blank" href="https://presentboldly.com/tysoncadenhead/qunit-test-prep">
            <img src="/images/presentations/qunit.jpg" />
            <div class="description">
                <h2>QUnit test prep</h2>
                <h4>Learning to ace writing QUnit tests.</h4>
            </div>
        </a>
    </article>

    <article class="presentation-item">
        <a target="_blank" href="http://slid.es/tysoncadenhead/compoundjs">
            <img src="/images/presentations/compound.jpg" />
            <div class="description">
                <h2>Compound on Express</h2>
                <h4>An explosive MVC Framework for NodeJS.</h4>
            </div>
        </a>
    </article>

</div>