{{> _header}}
    <section class="blogpost-header">
        <div>
            <div class="thumbnail" style="background-image: url({{{thumbnail}}})">
                <div class="thumbnail-overlay"></div>
            </div>
        </div>
        <div class="blogpost-text">
            <h1 class="title">
                {{{title}}}
            </h1>
            <div class="date">{{{date}}}</div>
        </div>
    </section>
    {{{post}}}
    {{> _subscribe}}
    {{> _comments}}
{{> _footer}}